#### DOCKER HOST PORT MAPPINGS ####
APP_HOST_PORT="8080"
APP_GREEN_HOST_PORT="8005"
APP_BLUE_HOST_PORT="8006"
POSTGRES_HOST_PORT="5433"
MEILISEARCH_HOST_PORT="7701"
REDIS_HOST_PORT="6380"
REDIS_EXPORTER_HOST_PORT="9122"
PROMETHEUS_HOST_PORT="9091"
GRAFANA_HOST_PORT="3001"

#### APP ENVIRONMENT ####
APP_URL="http://localhost:8081"
APP_PORT="8081"
APP_JWT_SECRET=""
APP_ADMIN_JWT_SECRET=""
APP_AUTH_EXPIRE_HOURS=24
OTP_EXPIRE_SECONDS=45
APP_ENVIRONMENT=dev

DB_NAME="searchhub"
DB_HOST="127.0.0.1"
DB_PASSWORD="db_password"
DB_USER="root"
DB_PORT="5432"
DB_DEBUG="false"
DB_MIGRATE="true"


MEILISEARCH_KEY="ms"
MEILISEARCH_PORT="7700"
MEILISEARCH_HOST="localhost"
MEILISEARCH_MASTER_KEY="meilisearch_master_key"
MEILISEARCH_API_KEY="meilisearch_master_key"

REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD="redis_password"

REDIS_EXPORTER_PORT="9121"

PROMETHEUS_PORT="9090"

GRAFANA_SECURITY_ADMIN_USER="grafana_security_admin_user"
GRAFANA_SECURITY_ADMIN_PASSWORD="grafana_security_admin_password"
GRAFANA_PORT="3000"

LOGAR_ADMIN_USERNAME="lytemp"
LOGAR_ADMIN_PASSWORD="logar_admin_password"


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=
MAIL_SSL=false


PROVIDER1_URL="https://raw.githubusercontent.com/WEG-Technology/mock/refs/heads/main/v2/provider1"
PROVIDER2_URL="https://raw.githubusercontent.com/WEG-Technology/mock/refs/heads/main/v2/provider2"